.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 300px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3, h1 {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  text-align: center;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.form{
  display: center;
  margin-left: 300px;
  margin-right: 100px;
}

.header #cityname{
  margin-left: 615px;
}

.header #search-button{
  margin-left: 100px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.header img{
  height: 5%;
  width: 5%;
}

.header #table_container{
  position: relative;
  width: 95%;
  height: auto;
  padding-top: 20px;
  padding-left: 160px;
  padding-right: 150px;
  margin-left: 20px;
  margin-right: 20px;
}

.carddemoBasicUsage md-card {
  min-height: 250px;
  height: auto;
 width: 45%;
 float: left;
 padding-left:150px;
 margin-left:5px;
}

md-card>:not(md-card-content) img, md-card>img {
  box-sizing : border-box;
}

.directive md-card{
  padding-left: 30px;
  width: 45%;
  min-height: 250px;
  height: auto;
  float: right;
}
