div#banner {
       position: absolute;
       top: 0;
       left: 0;
       background-color: #FFA500;
       width: 100%;
       height: 10%;
}
div#banner-content {
       width: 800px;
       margin: 0 auto;
       padding: 4px 10px 7px 18px;
       color: #ffffff;
       font-size: 300%;
      font-family: 'Bangers', cursive;
       position: absolute;
}

#smallW{
  font-size: 70%;
  font-family: 'Nothing You Could Do', cursive;
}

.bar{
  position: relative;
  background-color: #E8E8E8;
  width: 100%;
  height: 15%;
  padding: 10px 0px 25px 0px;
  margin: 10px 0px 10px 0px;
}
.bar-content {
  font-family: 'Vesper Libre', serif;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
color: #000000;
position: absolute;

}

.bar-content b{
    font-size: 115%;
    font-family: 'Vesper Libre', serif;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body{
  padding: 0;
  background: #F8F8F8;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing{
  padding-left: 300px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  margin-bottom: 10px;
  background: #F8F8F8;
}
/* Make the masthead heading the same height as the navigation */
.header h3, h1 {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  text-align: center;
}

/* Custom page footer */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  text-align: center;
  background-color: #ffb84d;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.header #cityname{
  margin-left: 615px;
  margin-top: 85px;
  margin-bottom: 15px;
  height: 30px;
  width: 20%;

}

.header #search-button{
  margin-left: 100px;
  font-family: 'Vesper Libre', serif;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.carddemoBasicUsage {
  min-height: 250px;
  height: auto;
 width: 45%;
 float: left;
 padding-left:150px;
 margin-left:5px;
 background: #F8F8F8;
   font-family: 'Vesper Libre', serif;

}

.right span{
  top: 0;
  /*float: right;*/
  margin: 0 45% 0 0;
  color: #000000;
  line-spacing: -1;
}

#gray{
  line-spacing: -1; /* close together */
  color: 	#A0A0A0;
}

#orange{
  color: #FF9973;
}
.carddemoBasicUsage img {
  margin: 10px 0px 2px 15px;
  height: 10%;
  width: 10%;
  align:left;

}

#hdr{
  font-family: 'Vesper Libre', serif;
  text-align: center;
  font-size: 120%;
}
/*.directive{
  padding-left: 20px;
  padding-right: 150px;
  margin-right: 40px;
  width: 45%;
  min-height: 250px;
  height: auto;
  float: right;
  background: #F8F8F8;
    font-family: 'Vesper Libre', serif;
}

.directive img {
  margin: 10px 0px 2px 13px;
  height: 10%;
  width: 10%;

}*/

.byTemp{
  padding-left: 20px;
  padding-right: 150px;
  margin-right: 40px;
  width: 45%;
  min-height: 250px;
  height: auto;
  float: right;
  background: #F8F8F8;
    font-family: 'Vesper Libre', serif;
}

.byTemp img {
  margin: 10px 0px 2px 13px;
  height: 10%;
  width: 10%;

}
