<!doctype html>
<html >
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
<script src="jquery.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/service.js"></script>
<script src="scripts/app.js"></script>
<!-- <script src="scripts/directive.js"></script> -->
<link rel="stylesheet" href="styles/main.css">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

</head>

<body ng-app="MyApp">
    <h1>Weather Map</h1>
    <div class="header">
    <div ng-controller = "MainCtrl">
      <input id= "cityname" placeholder="Enter City">
      <button id ="serach_button" ng-model = "weather_search" ng-click='addActivity("#cityname")'>Search</button>

<div class="carddemoBasicUsage">

<md-content layout="column" layout-gt-xs="row" style="background-color:#cecece">

  <!-- <md-card flex flex-gt-md="30"> -->
  <md-card ng-repeat="x in display | unique: 'title'">
    <!-- <img ng-src="{{img}}" class="md-card-image" alt="Washed Out"> -->
      <img ng-src="{{x.image}}" class="md-card-image">

    <!-- <md-card-content ng-repeat="x in display"> -->
    <h2 class="md-title">{{x.title}}</h2>

    <md-card-content>
      {{x.source}} <br>
      {{x.temperature}}°F <br>
      {{x.current_weather}} <br>
      {{x.description}} <br>
    </md-card-content>
</md-card>
</md-content>
</div>

<div class = "directive">

<md-content layout="column" layout-gt-xs="row" style="background-color:#cecece">

  <!-- <md-card flex flex-gt-md="30"> -->
  <md-card>
    <by-Temp display="display" title="'Ordered by Temperature'"></by-Temp>
  <md-card>

</md-content>
</div>

  </div>
    </div>



    <!-- <form id="create-form" > -->
        <!-- <input type="text" id="text-input" placeholder="Enter City Name"> -->
        <!-- <button id = "search-botton">Search</button> -->
    <!-- </form> -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

</body>
</html>
