<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
 <script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/service.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="styles/main.css">
  </head>

  <body ng-app='MyApp'>
      <h1>Weather Map</h1>
    <div class="header">
    <div ng-controller='MainCtrl'>
      <input id= "cityname" placeholder="Enter City">
      <button id ="serach_button" ng-click='go("#cityname")'>Search</button>
      <div id="table_container">
      <table class="table">
    <thead>
      <tr>
        <th>City</th>
        <th>Weather</th>
        <th>Description</th>
        <th>Temperature</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{city}}</td>
          <td>{{current_weather}}</td>
            <td>{{description}}</td>
              <td>{{temperature}}</td>

      </tr>
    </tbody>
  </table>
</div>
      <div layout layout-wrap layout-sm="column" layout-xs="column" style="min-height:100vh">
    <div flex="50" flex-sm="100" flex-xs="100" ng-repeat="1" class="container">
      <md-card flex>{{city}} {{temperature}} {{current_weather}} {{description}}</md-card>
    </div>
  </div>
      <p>{{city}} {{temperature}} {{current_weather}} {{description}}</p>
    </div>



    <!-- <form id="create-form" > -->
        <!-- <input type="text" id="text-input" placeholder="Enter City Name"> -->
        <!-- <button id = "search-botton">Search</button> -->
    <!-- </form> -->


    </div>


 <script>
 function print(){
   var x = document.getElementById("cityname").value;
   document.getElementById("display").innerHTML = x;
 }
 </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->


        <!-- endbuild -->
</body>
</html>
