<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<div id = "hdr"><i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i> Temperature Category</div>
<div class="bar">
  <div class="bar-content" style="text-align: center"><b>≥85°F: Frying Alert!</b></div>
  </div>
<div style="text-align: left" ng-repeat="x in arr1 | unique: 'title'">
<md-card layout="column" layout-gt-xs="column" style="background-color:#ffffff">
  <md-card-content class="right">
  <span>
  <b>    {{x.title}} </b><br>
  <a id="gray" target="_blank" href="{{x.link}}">{{x.source}} </a><br>
      {{x.temperature}}°F
      {{x.current_weather}} <br>
      <!-- {{x.description}} <br> -->
  </span>
  </md-card-content>
  </md-card>
</md-card>
</div>


<div class="bar">
  <div class="bar-content" style="text-align: center"><b>70°F-84°F: Warm and Cozy</b></div>
  </div>
<div style="text-align: left" ng-repeat="x in arr2 | unique: 'title'">
  <md-card layout="column" layout-gt-xs="column" style="background-color:#ffffff">
    <md-card-content class="right">
    <span>
    <b>    {{x.title}} </b><br>
    <a id="gray" target="_blank" href="{{x.link}}">{{x.source}} </a><br>
        {{x.temperature}}°F
        {{x.current_weather}} <br>
        <!-- {{x.description}} <br> -->
    </span>
    </md-card-content>
    </md-card>
</div>


<div class="bar">
  <div class="bar-content" style="text-align: center"><b>61°F-69°F: Short Sleeves and Long Sleeves Dilemma</b></div>
  </div>
<div style="text-align: left" ng-repeat="x in arr3 | unique: 'title'">
  <md-card layout="column" layout-gt-xs="column" style="background-color:#ffffff">
    <md-card-content class="right">
    <span>
    <b>    {{x.title}} </b><br>
    <a id="gray" target="_blank" href="{{x.link}}">{{x.source}} </a><br>
        {{x.temperature}}°F
        {{x.current_weather}} <br>
        <!-- {{x.description}} <br> -->
    </span>
    </md-card-content>
    </md-card>
</div>



<div class="bar">
  <div class="bar-content" style="text-align: center"><b>≤60°F: Embracing Jackets</b></div>
</div>
<div style="text-align: left" ng-repeat="x in arr4 | unique: 'title'">
  <md-card layout="column" layout-gt-xs="column" style="background-color:#ffffff">
    <!-- <img ng-src="{{x.image}}" style="left"> -->
    <md-card-content class="right">
    <span>
    <b>    {{x.title}} </b><br>
    <a id="gray" target="_blank" href="{{x.link}}">{{x.source}} </a><br>
        {{x.temperature}}°F
        {{x.current_weather}} <br>
        <!-- {{x.description}} <br> -->
    </span>
    </md-card-content>
    </md-card>
</div>
