<h2> Order by Temperature</h2>
<h4>It is Frying! (≥85)</h4>
<div style="text-align: left" ng-repeat="x in arr1 | unique: 'title'">
<md-content layout="column" layout-gt-xs="column" style="background-color:#ffffff">
<md-card>
<img ng-src="{{x.image}}" class="md-card-image">
<h4 class="md-title">{{x.title}}</h4>
{{x.source}} <br>
{{x.temperature}} <br>
{{x.current_weather}} <br>
{{x.description}} <br>
</md-card>
</md-content>
</div>

<h4>Warm and Cozy (70-84)</h4>
<div style="text-align: center" ng-repeat="x in arr2 | unique: 'title'">
{{x.image}}
{{x.title}}
{{x.source}} <br>
{{x.temperature}} <br>
{{x.current_weather}} <br>
{{x.description}} <br>
</div>

<h4> Short Sleeves and Long Sleeves Dilemma (61-69)</h4>
<div style="text-align: center" ng-repeat="x in arr3 | unique: 'title'">
{{x.image}}
{{x.title}}
{{x.source}} <br>
{{x.temperature}} <br>
{{x.current_weather}} <br>
{{x.description}} <br>
</div>

<h4>Embrace the Jackets (≤60)</h4>
<div style="text-align: center" ng-repeat="x in arr4 | unique: 'title'">
{{x.image}}
{{x.title}}
{{x.source}} <br>
{{x.temperature}} <br>
{{x.current_weather}} <br>
{{x.description}} <br>
</div>
